<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta charset="ISO-8859-1"/>
    <title>Avery Zweckform No- 3657</title>
    <!--link rel="stylesheet" type="text/css" href="general.css" title="Style" media="screen" /-->
    <style>
      html {
        background-color: transparent;
      }
      
      @page {
		width: 210mm;
		height: 297mm;
		margin-top: 21.5mm;
        margin-left: 7.9mm;
        margin-bottom: 14.5mm;
        margin-right: 7.9mm;
      }
      
      body {
        background-color: white;
        border: 0px;
        margin: 0;
        padding: 0;
       
        text-align: left;
		min-width: 100%;
		min-height: 100%;
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		/*min-width: 210mm;
		min-height: 297mm;
		max-width: 210mm;
		max-height: 297mm;*/
		
		font-family: arial;
		
      }
      
      table { page-break-inside:auto }
      tr    { page-break-inside:avoid; page-break-after:auto }
	  
	  table {
		border: none;
		margin: 0;
		padding: 0;
	  }
	   	  
	  td, th {
		border: none;
		margin: 0;
		padding: 0;
	  }
	  
	  table.maintable {
		max-width: 194mm;
		min-width: 194mm;
		width: 194mm;
		margin: 0;
		padding: 0;
		border-spacing: 0px;
		border-collapse: collapse; 
		/*border-collapse: separate;*/
		table-layout:fixed;
	  }
	  th.main {
		display: none;
	  }
	  td.main {
		min-width: 48.5mm;
		max-width: 48.5mm;
		width: 48.5mm;
		min-height: 25.4mm;
		max-height: 25.4mm;
		height: 25.4mm;
		border: 0.1mm solid #EEE;
		margin: 0;
		padding: 0;
		overflow: hidden;
		word-wrap:break-word;
		font-size: 9.5pt;
		vertical-align: middle;
	  }
	  .barcode {
		height: 10mm;
		width: 45mm;
	  }
	  
	  
	  .subtable td {
	  	text-align: center;
	  	width: 100%;
	  }
	  
	  .subtable {
	  	width: 100%;
	  }
	  
	  .number {
	  	font-weight: bold;
	  }
	  
	  #header {
		/*position: absolute;*/
		top: 0px; 
		font-weight: bold;
	  }
    </style>
  </head>
  <body>
    <table class="maintable">
		<tbody>
		
{% set i = 0 %}
{% set cells = 4 %}

{% for data in dataArray %}
	{% if i == 0 %}
		<tr>
	{% endif %}
		<td class="main">
			<table class="subtable">
				{% set filename = replace(data.number, '/', '_') %}
				<tr><td class="sub">Museum für Naturkunde Berlin</td></tr>
				<tr><td class="sub"><img class="barcode" src="{{ generateCode(data.number, filename , 'Barcode') }}" /></td></tr>
				<tr><td class="sub number">{{ data.number }}</td></tr>
			</table>
		</td>
	{% if i == cells-1 %}
		</tr>
		{% set i = 0 %}
	{% else %}
		{% set i = i+1 %}
	{% endif %}
	
	
{% endfor %}

		</tbody>
	</table>
  </body>
</html>