<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
  
<!--jQuery dependencies-->
 <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/themes/base/jquery-ui.css" />
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
 
  <!--Include Touch Punch file to provide support for touch devices-->
 <!-- script type="text/javascript" src="path to touch-punch.js from https://github.com/furf/jquery-ui-touch-punch" ></script -->   
 
 <!--ParamQuery Grid files-->
 <link rel="stylesheet" href="/lib/js/grid/grid-2.4.1/pqgrid.min.css" />
 <script type="text/javascript" src="/lib/js/grid/grid-2.4.1/pqgrid.min.js" ></script> 
 
 
 
 <script>
var obj = {};
 
$(function(){
    var dataJSON = [{
		"catalogNumber": "ZMB_Phasm_D001",
		"QRCode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Peruphasma schultei  Conle & Hennemann, 2005"
	},
	{
		"catalogNumber": "ZMB_Phasm_D002",
		"QRCode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D002",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Extatosoma tiaratum  (Macleay, 1826)"
	},
	{
		"catalogNumber": "ZMB_Phasm_D003",
		"QRCode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D003",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Asceles opacus (Redtenbacher, 1908)"
	},
	{
		"catalogNumber": "ZMB_Phasm_D004",
		"QRCode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D004",
		"Barcode": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"DataMatrix": "http://coll.mfn-berlin.de/u/ZMB_Phasm_D001",
		"Species": "Abies alba L."
	}];
             
 
    obj.width = 1200;
    obj.height = 400;
    obj.columnTemplate = { widthPercent: 10, minWidth: 50, dataType:"string" };
    obj.colModel = [
    	{dataIndx:"catalogNumber", title:"catalogNumber", width:100, dataType:"string"},
        {dataIndx:"QRCode", title:"QRCode", width:200, dataType:"string"},
        {dataIndx:"Barcode", title:"Barcode", width:150, dataType:"string", align:"right"},
        {dataIndx:"DataMatrix", title:"DataMatrix", width:150, dataType:"string", align:"right"},
        {dataIndx:"Species", title:"Species", width:150, dataType:"string", align:"right"}];
    obj.dataModel = { data: dataJSON };
    
    $("#grid").pqGrid( obj );

    
    
    $("#add_column").click(function(e){
    	var colModel = $("#grid").pqGrid( "getColModel" );
    	var newCol = $("#column_name").val();
    	if(newCol)
    	{	
    		var columnExists = false;
    		colModel.forEach(function(colName, i){
    			if(colName["title"].toLowerCase().trim()===newCol.toLowerCase().trim())
    				columnExists = true;
    		}); 
    		if(columnExists===false)
    		{
	    		colModel.push({ dataIndx: newCol, title: newCol, minWidth: 150, maxWidth: '25%' });
		    	obj.colModel = colModel;
		    	$("#grid").pqGrid( obj ); 
		    	$("#grid").pqGrid( "refresh" ); 
		    	$("#column_name").val("");
    		}else
    			alert("This column name already exists!");
    	}else
    		alert("Please enter a name for the column!");
    });
    
    $("#send_button").click(function(e){
    	var d = JSON.stringify(obj.dataModel.data);
    	$("#data").val(d);
    });
 
});        

//jquery extend function
$.extend(
{
	// redirect to a page and post data to it
    redirectPost: function(location, args)
    {
        var form = $('<form></form>');
        form.attr("method", "post");
        form.attr("action", location);

        $.each( args, function( key, value ) {
            var field = $('<input></input>');

            field.attr("type", "hidden");
            field.attr("name", key);
            field.attr("value", value);

            form.append(field);
        });
        $(form).appendTo('body').submit();
    }
});

</script> 

  </head>
  <body>
  <form action="/labels/v1.0/" method="POST">
		<strong>Format: </strong><select name="format"><option value="html">HTML</option><option value="pdf">PDF</option></select>
		<strong>Template: </strong> <input type="text" name="template" value="template.html"/> 
		<br/>
	<fieldset><legend><strong>Data:</strong></legend>
	
  		add Column: <input type="text" name="column_name" id="column_name" placeholder="new column name"/> <input type="button" id="add_column" value="+"/>
  		
  		<div id="grid"></div>
  	</fieldset>
  	<input type="hidden" name="data" id="data" value=""/>
  	
  	<input type="submit" id="send_button"  onClick="" value="Send data"/>
 </form>
  </body>
</html>