<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Flying Saucer: CSS List Support</title>
    <link rel="stylesheet" type="text/css" href="style1.css" title="Style" media="all" />
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
	<link rel="stylesheet" href="/resources/demos/style.css" />
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script>

	</script>
	<script language="JavaScript" src="script.js"></script>
  </head>
  <body>
	<div id="header">This is my test sheet with cool labels</div>
    <table id="maintable" class="maintable">
		<tbody>
			<tr>
				<th>TEST1</th><th>TEST2</th><th>TEST3</th><th>TEST4</th><th>TEST5</th>
			</tr>
			<tr>
				<td class="main">
					<table id="subtable">
						<tr><td class="sub"><img class="qrcode" src="file:///C:/Daten/BarCoder/Code-Images/MFNB_Col_D011___10.png"/></td>
							<td class="sub">TEST test 123</td>
						</tr>
					</table>
				</td>
				<td class="main">World jdhfks dhfksh dkfjhskjhdfksjhdiusarrrrrrhdgiushdgiu shdighsi dufh isaudfflggksödlkg söldkgdlkögöls dkgösäö ösdljs lfjsdlkf jslkdjf lskdjf Falko</td><td class="main">Hello</td><td class="main">World</td><td class="main">Hello</td><td class="main">World</td>
			</tr>
			<tr>
				<td class="main">Hello</td><td class="main">World</td><td class="main">Hello</td><td class="main">World</td><td class="main">Hello</td><td class="main">World</td>
			</tr>
			<tr>
				<td class="main">Hello</td><td class="main">World</td><td class="main">Hello</td><td class="main">World</td><td class="main">Hello</td><td class="main">World</td>
			</tr>

		</tbody>
	</table>
	
	<input id="width" value=""/>mm x <input id="height" value=""/>mm
		
  </body>
</html>